# Byte-compiled / Optimized / DLL Files
*.pyc
*.pyo
*.pyd
__pycache__/

# Distribution / Packaging
venv/
faster-whisper-env/

# Unit Test
.pytest_cache/

# Ignore IDE, Editor Files
.idea/
.vscode/

# Log files
*.log

# Backup files
*.backup

# Python egg info
*.egg-info/

# Audio files
*.wav

# Test data
tests/data/test.wav
